*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* Hide scrollbars */
  }

#head .container-width{
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
}

.centered{
    left: 40%;
    margin-top: 30px;
    position: absolute;
    color: white;
    font-weight: bolder;
    text-transform: lowercase;
    top: 0;
    font-family: "Sofia",sans-serif;
    font-size: 50px;
}

.inhead{
    position: absolute;
    height: 300px;
    width: 600px;
    top: 50%;
    bottom: 50%;
    left: 50%;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    opacity: 90%;
    font-family: "Sofia", sans-serif;
}
.inhead b{
    position: relative;
    padding: 20px;
    padding-left: 110px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.inhead pre{
    position: absolute;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    left: 10px;
    font-size: 18px;
}

#head button{
    position: absolute;
    background-color: rgb(161, 53, 192);
    color: white;
    top: 70%;
    right: 35%;
    height: 50px;
    width: 200px;
    /* border-radius: 15px; */
    border: none;
    box-shadow: 5px 8px 16px 2px rgb(161,53,192,);
    /* box-shadow: 2px solid rgb(161,53,192,); */
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: sans-serif;
}

#part2 {
    position: relative;
    padding-top: 50px;
    padding-left: 100px;
    height: 80vh;
    width: 100%;
}

#head2{
    position: relative;
    color: #A135C0;
    font-size: 50px;
    display: inline-block;
}

#head2 b{
    /* position: absolute; */
    left: 20px;
}

#head2 .pinkline{
    position: absolute;
    left: 110%;
    height: 2px;
    width: 200px;
    bottom: 35px;
    background-color: #A135C0;
}

#line{
    position: absolute;
    top: 120px;
    left: 115px;
}

#box{
    position: relative;
    top: 100px;
    height: 376px;
    width: 1100px;
    left: -8%;
    background-color: rgb(242, 242, 242);
}

#box pre{
    position: absolute;
    left: -12px;
    margin: 5px;
    font-style: normal;
    font-weight: bold;
}

#box img{
    position: absolute;
    right: 210px;
    top: 0;
    height: 200px;
}

#box .img2{
    position: absolute;
    top: 46%;
    right: 15px;
    left: 82%;
}

#box .img3{
    position: absolute;
    top: -12%;
    right: 15px;
    left: 82%;
}

#box b{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#box .text{
    margin-top: 10px;
}

#part3{
    position: relative;
    margin-top: 45px;
}

#box2{
    position: absolute;
    /* background-color: black; */
    height: 900px;
    width: 900px;
    bottom: 10%;
    left: 15%;
    padding-top: 50px;
}

#box2 img{
    height: 201px;
    width: 209px;
}

.col-2{
    width: 230px;
    margin-top: 20px;
}


#sp{
    box-shadow: -40px -40px #a864a8;
    position: relative;
}

#sp2{
    box-shadow: 40px 40px #a864a8;
}

#sp:hover{
    opacity: 0.5;
}

#part4 .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    border: 2px solid #a864a8;
    height: 150px;
    width: 200px;
    bottom: 60px;
    background-color: white;
}

#part4 img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 15px;
}

#part4 .con1{
    position: relative;
    left: 120px;
}

#part4 .con3{
    position: relative;
    right: 120px;
}

#part5{
    position: relative;
}

#part5 .container{
    position: absolute;
    background-color: white;
    height: 100px;
    width: 750px;
    bottom: 935px;
    left: 23%;
    border-radius: 26px;
    border: 1px solid #a864a8;
}

#part5 h1{
    position: absolute;
    left: 40%;
    bottom: 1100px;
}

#part5 pre{
    margin-top: 20px;
    margin-left: 170px;
    font-family: 'raleway',sans-serif;
}

#part5 p{
    position: absolute;
    bottom: -10px;
    left: 47px;
    font-weight: bold;
    font-family: 'raleway',sans-serif;
    font-size: 75px;
    color: #c200df;
}

#con2{
    position: absolute;
    top: 265px;
}

#con3{
    position: absolute;
    top: 375px;
}

#con4{
    position: absolute;
    top: 485px;
}

#part6 .image {
    position:relative;
    display:inline-block;
  }
   
 #part6 .image:after {
    content:url("https://www.wonderplugin.com/download/playbutton.png");
    z-index:999;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-32px;
    margin-top:-32px;
  }

  #part6 p{
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'raleway',sans-serif;
  }

  #part7{
    background-color: black;
    position: relative;
    height: 100vh;
  }

  

#lef{
    position: absolute;
    width: 50%;
    top: 20%;
    margin: -10px;
    right: 60%;
}

#lef p{
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-family: 'raleway', 'sans-saif';
}


#rig{
    position: absolute;
    top: 20%;
    left: 50%;
}

  #part7 input,select.form-control,textarea.form-control {
    /* margin-top: 10px; */
    background-color: black;
    color: white;
  }

  #part7 ::placeholder{
    color: white;
  }


  #part7 .btn{
    position: absolute;
    background-color: #a864a8;
    left: 20%;
    width: 200px;
    border-radius: 20px;
    border-color: #a864a8;
  }

  #part7 .text p{
    font-family: 'raleway','sans-sarif';
    margin-top: 15px;
    color: white;
  }


#part7 .center {
    left: 40%;
    position: absolute;
    color: white;
    font-weight: bolder;
    text-transform: lowercase;
    bottom: 10px;
    font-family: "Sofia",sans-serif;
    font-size: 50px;
} 

#part7 .left,.right{
    color: white;
    font-weight: bold;
    position: absolute;
}

#part7 .left{
    bottom: 5%;
    left: 0;
}

#part7 .right{
    bottom: 5%;
    right: 2%;
}
  
.book{
    padding: 100px 0 40px;
}
.book p { 
    font-size: 24px;
}

.book h2 {
    font-size: 34px;
    margin-top: 40px;
}

.book ul {
    padding: 0;
    margin: 0;
}
.book ul li{
    list-style-type: none;
    font-size: 24px;
    line-height: 55px;
}

.book ul li i{ 
    font-size: 24px;
}

.products{
    background-image: url('assets/pro10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px 0;
}
.products .box{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.products .box img {
    width: 100%;
}

.products .box .content{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/proBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0; */
    transition: all .3s ease-in-out;

}
.products .box:hover .content{
    /* opacity: 1; */
    left: 0;
}

.products .box .content p{ 
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'raleway','sans-sarif';
    font-weight: 800;
    margin: 0;
}

.boxes {
    background-image: url("/assets/Layer 33.png");
    height: 100vh;
}

.boxes .container{
    border: 2px solid black;
    border-radius: 20px;
    border-color: #A135C0;
    position: relative;
    left: 28%;
    margin-top: 20px;
}

.boxes .container h1{
    position: absolute;
    top: 8%;
    font-size: 5vh;
    color: #c200df;
}

.boxes .container h2,p{
    /* margin-left: 223px;
    margin-top: 10px; */
    font-family: 'raleway',sans-serif;
    font-weight: bold;
}

.icons .row{
    position: relative;
    bottom: 100px;
    max-width: 100vw;
}

.icons .col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #c200df;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.laptop .container{
    background-image: url('assets/laptop.png');
    height: 50vh;
}

.laptop .row{
    --bs-gutter-x: ;
}

.cont{
    background-image: url('assets/Camera.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cont .box{
    border: 1px solid #c200df;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 70px;
    font-family: 'raleway','sans-sarif';
}

.cont .content{
    padding-left: 50px;
    padding-top: 20px;
}

.cont .box h1{
    font-size: 100px;
    font-weight: bold;
    color: #c200df;
    font-family: 'raleway',sans-serif;
}

.cont .content h2{
    font-weight: bold;
}

.cont .content p{
    font-weight: 500;
    font-size: 16px;
}

.cont .head{
    font-weight: bold;
    font-family: 'raleway',sans-serif;
}

.laptop{
    background-image: url('assets/laptop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.laptop p{
    margin-top: 10%;
    color: white;
    font-family: 'raleway',sans-serif;
    font-size: 35px;
    font-weight: lighter;
}

.laptop i{
    color: white;
    /* border: 2px solid white; */
    height: 20vh;
    display: block;
    font-size: 70px;
}

.banner{
    min-height: 100vh;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}


.banner h2{
    font-size: 40px;
    font-family: 'sofia',sans-serif;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
}

.banner .box{
    background-color: rgba(255, 255, 255, 0.9 );
    padding: 40px;
    font-family: 'raleway',sans-serif;

}


.banner .box h4{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner .box p{
    font-size: 20px;
    font-weight: 300;
}

.banner button{
    background-color: rgb(161, 53, 192);
    color: white;
    border: none;
    box-shadow: 5px 8px 16px 2px rgb(161,53,192,);
    align-items: center;
    height: 50px;
    width: 200px;
    margin-left: 25%;
}

.contact{
    background-color: black;
    padding: 80px 25px;
}

.contact .innerbox{
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
}

.contact .innerbox p{
    font-size: 30px;
    color: #fff;
    font-family: 'raleway',sans-serif;
    font-weight: 400;
}

.contact .innerbox h2{
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    margin: 35px 0;
}

.contact .form-control{
    background-color: transparent;
    border-color: #fff;
    min-height: 55px;
    font-size: 26spx;
    color: #fff;
}

.contact .form-control::placeholder{
    color: #fff;
}

.contact .foot .rig{
    color: #fff;
    font-weight: bold;
    font-family: 'raleway', 'sans-saif';
    font-size: 20px;
}

.contact .foot h2{
    color: #fff;
    font-weight: bold;
    font-family: 'sofia', 'sans-saif';
    font-size: 50px;
}

.contact .foot .lef{
    color: white;
    font-weight: bold;
    font-family: 'raleway', 'sans-saif';
    font-size: 20px;
}

.contact .btn{
    color: #fff;
    background-color: #a864a8;
    width: 80%;
    margin-left: 35%;
}





